# App configurations
PORT=8000

# Database configurations
# For Task 1: Use Postgres. Fill in your Postgres connection URL here.
# Format: postgresql://username:password@hostname:port/database_name
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fomo_store
